{% include 'header.html' %}
<div class="card" style="width: 18rem;">
<a href="/universes/{{ universe.id }}">Back {{ universe.name }}</a>
<div class="card-body">
<h1 class="card-title">SpiderMans of {{ universe.name }}</h1>

{% if spiderMans %}
        {% for spiderMan in spiderMans %}
                <a href="/SpiderMans/{{ spiderMan.id }}">
                    <h3 class="card-text">{{ spiderMan.name }}</h3>
                    <h4 class="card-text">{{ spiderMan.alias }}</h4>
                    <h4 class="card-text">{{ spiderMan.skills }}</h4>
                    {% if spiderMan.alive %}
                    <h6>Vivo</h6>
                    {% else %}
                    <h6>Fallecido</h6>
                    {% endif %}
                </a>
        {% endfor %}
{% else %}
        <h3>{{ universe.name }} no tiene SpiderMans registrados</h3>
{% endif %}
        <a href="/SpiderMans/newSpider?universe_id={{ universe.id }}" class="btn btn-primary">Agregar SpiderMan</a>
    </div>
</div>

{% include 'footer.html' %}